html{
  box-sizing:border-box;
}
*,*::before,*::after{
  box-sizing:border-box;
}
b,h1,h2,h4,h3,p,ul{
  margin:0px;
  padding:0px;
}

div.container{
  border:1px solid black;
  display:grid;

}
div.box{
  border:1px solid black;
}
